@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Fuentes */

.font-tasa {
  font-family: "TASA Orbiter", sans-serif;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
}
